<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shelf.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shelf.description %>
</p>

<p>
  <strong>Cubboard:</strong>
  <%= link_to @shelf.cubboard.name,@shelf.cubboard %>
</p>

<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
