<p id="notice"><%= notice %></p>

<h1>Cubboards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cubboards.each do |cubboard| %>
      <tr>
        <td><%= cubboard.name %></td>
        <td><%= cubboard.description %></td>
        <td><%= link_to @cubboard.room.name, room_path(@cubboard.room) %></td>
        <td><%= link_to 'Show', cubboard %></td>
        <td><%= link_to 'Edit', edit_cubboard_path(cubboard) %></td>
        <td><%= link_to 'Destroy', cubboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cubboard', new_cubboard_path %>
