<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cubboard.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cubboard.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= link_to @cubboard.room.name, room_path(@cubboard.room) %>

</p>

<%= link_to 'Edit', edit_cubboard_path(@cubboard) %> |
<%= link_to 'Back', cubboards_path %>
