<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>
<% unless @links.empty? %>
  <%= render @links %>
<% end %>
<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>Cupboard</p>

<% unless @cubboards.empty? %>
  <ul>
    <% @cubboards.each do |cubboard|%>
      <li>
        <%= link_to cubboard.name, cubboard %>
      </li>
    <%end%>
  </ul>
<% end %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
